<div class="status-bar-row">
  <div class="status-bar-left">
    <div class="weeks">
      {{ $currentWeek := 0 }}
      {{ with $.Params.week }}{{ $currentWeek = . }}{{ end }}
      
      {{ range sort (where site.RegularPages "Section" "blog") ".Date" "asc" }}
        {{ if .Params.week }}
        <a href="{{ .RelPermalink }}"
           class="week {{ if eq .Params.week $currentWeek }}current{{ else }}completed{{ end }}"
           title="{{ .Title }}">
          {{ .Params.week }}
        </a>
        {{ end }}
      {{ end }}
    </div>
  </div>
  <div class="status-bar-right">
    <button id="theme-toggle" title="Toggle theme">◐</button>
  </div>
</div>
