{{ define "main" }}
<div class="article-layout">
  <article>
    <header>
      <h1>{{ .Title }}</h1>
      {{ with .Description }}
      <p class="meta">{{ . }}</p>
      {{ end }}
    </header>

    <div class="content">
      <table>
        <thead>
          <tr>
            <th>Week</th>
            <th>Theme</th>
            <th>Project</th>
          </tr>
        </thead>
        <tbody>
          {{ range site.Data.weeks }}
          <tr>
            <td>{{ .week }}</td>
            <td>{{ .theme }}</td>
            <td>
              {{ if eq .status "complete" }}
              {{ $page := site.GetPage .post }}
              {{ $title := cond .static_title .title $page.Title }}
              <a href="{{ $page.RelPermalink }}">{{ $title }}</a>
              {{ else }}
              {{ .title }}
              {{ end }}
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </article>
</div>
{{ end }}
